body{
  width: 100%;
}

.card{
  width:90%;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding:20px;
  margin: 20px auto;
}

.left-component{
  width:50%;
}

.main-heading{
  margin-top: 200px;
  color: hsl(240, 38%, 20%);
  font-size: 32px;
}

.name-heading, .job-heading{
  display: inline-block;
}

.name-heading{
  color: hsl(240, 38%, 20%);
}

.job-heading{
  color:hsl(240, 18%, 77%);
}

.img-profile{
  position: relative;
  right: 50px;
  z-index: -1;
  height: 80%;
  top: 70px;
}

.bg-quotes{
  position:absolute;
  top: 200px;
  left: 200px;
}

.bg-curve{
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.bg-pattern{
  position: absolute;
  z-index: -2;
  right: 50px;
}

.bt-right, .bt-left{
  border: none;
  padding: 10px 15px;
  background-color: white;
}
.buttons{
  display: flex;
  position: absolute;
  left: 53%;
  bottom: 27%;
}

.bt-right{
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
}

.bt-left{
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
}

@media screen and (max-width:1219px){
  .card{
    flex-direction: column-reverse;
    height:auto;
    width:100%;
  }
  .left-component{
    width:100%;
  }
  .img-profile{
    width:400px;
    height:400px;
    left:60px;
  }
  .bg-pattern{
    top: 60px;
    left: 1px;
    height: 60%;
  }
  .buttons{
    left: 65%;
    bottom: 34%;
  }
  .main-heading{
    margin-left: 80px;
    margin-top: 150px;
    font-size: 25px;
    text-align: center;
  }
  .bg-curve{
    top: 1000px;
  }
  .name-heading, .job-heading{
    display: block;
    margin-bottom: 5px;
    margin-top:5px;
    text-align: center;
  }
  .bg-quotes{
    top:550px;
  }
}
